<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Whiteboard</title>
    <link rel="stylesheet" href="/public/css/index.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <link rel="icon" href="/public/icons/icon-192.png" />
    <link rel="apple-touch-icon" href="/public/icons/icon-192.png" />
    <link rel="manifest" href="/manifest.json" />
</head>
<body>
    <div class="home">
        <h1>Whiteboard</h1>
        <p>Every great idea starts with a scratch on the board.</p>
        <br>
        <a href="<%-url%>" class="create_whiteboard"> Create Your Whiteboard</a>
    </div>
</body>
</html>