body {
    margin: 0;
    padding: 0;
    font-family: "Roboto Mono", monospace;
    flex-direction: column;
    color: #4b4b4b;
    text-align: center;
    overflow: hidden;
}

.home {
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
    width: 100%;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    padding: 10px 10px;
    background: #ffeef3;
    border-radius: 20px;
    text-decoration: none;
    color: #a1a1a1;
    border: 1px solid #a1a1a1;
    outline-color: #a1a1a1;
    transition: all 1s;
    font-family: "Roboto Mono", monospace;
    margin-right: 10px;
}

.next {
    padding: 9px 15px;
    background: #ffeef3;
    border-radius: 20px;
    text-decoration: none;
    color: #a1a1a1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s;
    border: 1px solid #a1a1a1;
}

.create_whiteboard {
    padding: 10px 10px;
    background: #ffeef3;
    border-radius: 20px;
    text-decoration: none;
    color: #a1a1a1;
}

canvas {
    width: 100%;
    height: 80%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
}

.pallet {
    padding: 5px;
    border: 2px solid #cdcdcd;
    max-width: 400px;
    position: fixed;
    bottom: -100px;
    left: 50%;
    border-radius: 10px;
    display: flex;
    transform: translate(-50%, -10%);
    transition: all .6s;
}

.pallet > * {
    width: 30px;
    height: 30px;
    border: 2px solid #cdcdcd;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    transition: all .4s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pallet > * > img {
    width: 17px;
    height: 17px;
}